{{outlet}}
{{#if responseMessage}}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{responseMessage}}
  </div>
{{/if}}

<div class="container">
  <div class="row day">

    <div class="col-md-3">
      <div class="page-header">
        Schedule Form
      </div>

      <p>
        <form class="" {{ action 'poster' on='submit'}}>

          <div class="form-group">
            <div class="checkbox">
              <label>
                {{input type="checkbox" name='closed' checked=info.closed}} Closed
                <!-- {{input type='checkbox' name='active'  checked=info.active}} -->
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="">Weekday</label>
            {{input type='text' value=info.day class='form-control' placeholder="Monday"}}
          </div>

          <div class="form-group">
            <label class="">Store open</label>
            {{input type='text' value=info.open class='form-control' placeholder="7am"}}
          </div>

          <div class="form-group">
            <label class="">Store close</label>
            {{input type='text' value=info.close class='form-control' placeholder="1pm"}}
          </div>

          <div class="form-group">
            <div class="page-header">
              <h5>Lunch Hours</h5>
            </div>
          </div>

          <div class="form-group">
            <label class="">Strart lunch</label>
            {{input type='text' value=info.lunchopen class='form-control' placeholder="1pm"}}
          </div>

          <div class="form-group">
            <label class="">End lunch</label>
            {{input type='text' value=info.lunchclose class='form-control' placeholder="1pm"}}
          </div>

          <button type="submit" class='btn btn-success' name="button">Post</button>
        </form>
      </p>
    </div><!-- End col 3 -->


    <div class="col-md-9">
      <div class="page-header">
        Schedule
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="scheduler">

            {{#each model as |sched|}}
              {{#if sched.closed}}
                  <h2>{{sched.day}}: <small>Closed</small></h2>
                  <small>Closed for the day. Please schedulefor store hours.</small> -
                  <a href="#" {{action 'delete' sched }}>Delete</a>
                  <hr>
              {{else}}
                <h2>{{sched.day}}: <small>{{sched.open}} to {{sched.close}}</small></h2>
                <small><strong>Closed</strong> for lunch <strong>{{sched.lunchopen}}</strong> to <strong>{{sched.lunchclose}}</strong></small> -
                <a href="#" {{action 'delete' sched }}>Delete</a>
                <hr>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div><!-- End schedule -->

    </div>
  </div>
</div>
