{{outlet}}
<div class="col-md-3">
  <div class="page-header">
    Schedule Form
  </div>

  <p>
    <form class="" {{ action 'poster' on='submit'}}>

      <div class="form-group">
        <div class="checkbox">
          <label>
            {{input type="checkbox" class='checker' name='closed'  checked=info.closed}} Closed
            <!-- {{input type='checkbox' name='active'  checked=info.active}} -->
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="">Weekday</label>
        {{input type='text' value=info.day class='form-control' placeholder="Monday"}}
      </div>

      {{#unless info.closed}}
        <div class="form-group">
          <label class="">Store open</label>
          {{input type='text' value=info.open class='form-control' placeholder="7am"}}
        </div>

        <div class="form-group">
          <label class="">Store close</label>
          {{input type='text' value=info.close class='form-control' placeholder="1pm"}}
        </div>

        <div class="form-group">
          <div class="page-header">
            <h5>Lunch Hours</h5>
          </div>
        </div>

        <div class="form-group">
          <label class="">Start lunch</label>
          {{input type='text' value=info.lunchopen class='form-control' placeholder="1pm"}}
        </div>

        <div class="form-group">
          <label class="">End lunch</label>
          {{input type='text' value=info.lunchclose class='form-control' placeholder="1pm"}}
        </div>
      {{/unless}}

      <button type="submit" class='btn btn-success' name="button">Post</button>
      <button type="button" {{action 'clear'}} class='btn btn-success' name="button">Cancel</button>
    </form>
  </p>

</div>
